* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*style*/
html{
  font-size: 100px;
}
body {
  background: #ffe600;
}

.pikachu {
  position: absolute;
  width: 4.2rem;
  height: 2.35rem;
  transform: translateY(-50%) translateX(-50%);
  top:25%;
  left: 50%;
}
.nose {
  border: 0.1rem solid black;
  border-color: black transparent transparent;
  border-bottom: none;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 1.45rem;
  margin-left: -0.1rem;
}
.nose::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 0.1rem;
  position: relative;
  top: -0.2rem;
  left: -0.1rem;
  border-radius: 0.14rem 0.14rem 0 0;
  background: black;
}
.eye {
  border: 0.01rem solid black;
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  left: 50%;
  top: 1rem;
  margin-left: -0.32rem;
  border-radius: 50%;
  background: #2e2e2e;
}
.eye::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background: #fff;
  border-radius: 50%;
  top: 0.04rem;
  left: 0.08rem;
}
.eye.left {
  transform: translateX(-1.3rem);
}
.eye.right {
  transform: translateX(1.3rem);
}

.mouth {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 1.7rem;
  margin-left: -1rem;
}
.mouth > .up {
  position: absolute;
  z-index: 1;
}
.mouth > .up::before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 1rem;
  border: 0.03rem solid #2e2e2e;
  border-radius: 0 0 0 80%;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  transform: rotate(-25deg) translateX(0.02rem);
  top: 0;
  left: 0;
  background: #ffe600;
}
.mouth > .up::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.3rem;
  width: 1rem;
  border: 0.03rem solid #2e2e2e;
  border-radius: 0 0 80% 0;
  border-left-color: transparent;
  border-top-color: transparent;
  top: 0;
  left: 1rem;
  transform: rotate(25deg) translateX(-0.02rem);
  background: #ffe600;
}
.mouth > .down > div {
  position: absolute;
  border: 0.01rem solid #2e2e2e;
  background: #9b000a;
  height: 2rem;
  width: 1.4rem;
  top: 0.09rem;
  left: 0.3rem;
  border-bottom-left-radius: 1.18rem 2.3rem;
  border-bottom-right-radius: 1.18rem 2.3rem;
  overflow: hidden;
}
.mouth > .down > div::before {
  content: "";
  display: block;
  position: relative;
  height: 1.7rem;
  width: 1.4rem;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  border-bottom-left-radius: 1.18rem 2.3rem;
  border-bottom-right-radius: 1.18rem 2.3rem;
  background: #ff485f;
  top: 0.3rem;
}
.face {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 0.88rem;
  height: 0.88rem;
  border: 0.03rem solid black;
  margin-left: -0.44rem;
}
.face.left {
  transform: translateX(-1.8rem);
  background: red;
  border-radius: 50%;
}
.face.right {
  transform: translateX(1.8rem);
  background: red;
  border-radius: 50%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nose:hover {
  transform-origin: 50% 100%;
  animation: wave 0.1s infinite;
}
@media(max-width:500px){
  html{
    font-size: 60px;
  }
}

